#pot sa adaug @rev in url sau sa foloses tags/1.1 in loc de trunk
Django==1.2.3
Markdown
PIL
South
django-debug-toolbar
-e svn+http://django-forum.googlecode.com/svn/trunk/@53#egg=django-forum
django-profiles==0.2
-f http://bitbucket.org/ubernostrum/django-registration/downloads/django-registration-0.8-alpha-1.tar.gz#egg=django-registration

