{% extends 'base.html' %}
{% load comments %}
{% load humanize %}
{% block title %}View Comments{% endblock %}
{% block content %}
{% get_comment_list for matchday as comment_list %}
{% for comment in comment_list %}
    <p class="comment"><span class="commentingUser">{{ comment.user_name }}:</span> {{ comment.comment }} <span class="commentTime">({{ comment.submit_date|date:"D d M Y"|naturalday }} {{ comment.submit_date|time:"H:i"}})</span></p>
{% endfor %}

{% if user.is_authenticated %}
    <h2>Leave a comment</h2>
    {% get_comment_form for matchday as form %}
    <form action="{% comment_form_target %}" method="POST"> 
        {{ form.comment }} 
        {{ form.content_type }} 
        {{ form.object_pk }} 
        {{ form.timestamp }} 
        {{ form.security_hash }} <br>
        <input type="submit" value="Add comment" id="id_submit" />
        <input type="hidden" name="next" value="{% url sch_comments matchday.id %}" />
    </form> 
{% else %}
    <h2><a href="{% url auth_login %}">Log in</a> to leave a comment</h2>
{% endif %}

<a href="/">Home</a>
{% endblock %}

