{% extends 'base.html' %}
{% block title %}View MatchDays{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/delGuest.js"></script>
{% endblock %}
{% block loadFunction %}initpage();{% endblock %}
{% block content %}
<table cellspacing="0" class="list">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    {% for guest in guests_lists %}
    <tr>
         <td>{{ guest.id }}</td>
        <td>{{ guest.get_full_name }}</td>
        <td><a class="dellink" guestId="{{ guest.id }}" matchdayId="{{ md_id }}" href="#">Delete</a></td>
    </tr>
    {% endfor %}
</table>
<div>
  <a href="/">Home</a>
</div>
{% endblock %}
