{% extends 'base.html' %}
{% load humanize %}
{% block title %}View MatchDays{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/linkCreator.js"></script>
{% endblock %}
{% block content %}
<div id="placeholder"></div>
<h2>Matchdays</h2>
<table cellspacing="0" class="list">
    <tr>
        <th>#</th>
        <th>Date</th>
        <th>Location</th>
        <th>Hour</th>
        <th>Actions</th>
    </tr>
    {% for matchday in object_list %}
    <tr>
        <td>{{ matchday.id|ordinal }}</td>
        <td>{{ matchday.start_date|date:"D d M Y"|naturalday }}</td>
        <td>{{ matchday.location }}</td>
        <td>{{ matchday.start_date|time:"H:i" }}</td>
        <td>
            <span class="async" md_id="{{ matchday.id }}">
                <a class="md-detail-link" href="#">View</a>
            </span>
        </td>
    </tr>
    {% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
<a class="right" href="/profiles/">View all users</a>
<a class="right" img="{{ MEDIA_URL }}images/rss.png" href="/feeds/latest/">subscribe to Matchdays feed</a>
{% endblock %}
