{% load humanize %}
<h2>Information</h2>
<ul>
{% if not object.isFuture %}
    <li>Date: Opened {{ object.start_date|timesince }} ago</li>
{% endif %}
<li>Location: {{ object.location }}</li>
<li>Date: {{ object.start_date|date:"D d M Y"|naturalday }} {{ object.start_date|time:"H:i" }}</li>
<li>
Participants:
    <ul>
    {% for player in object.participants.all %}
        <li>{{ player.first_name}} {{ player.get_profile.alias_name }} {{ player.last_name }}</li>
    {% endfor %}
    </ul>
</li>
<li>
Guest Stars:
    <ul>
        {% for guest in object.guest_stars.all %}
            <li>{{ guest.get_full_name }} invited by {{ guest.friend_user.get_full_name }}</li>
        {% endfor %}
    </ul>
</li>
</ul>
<div>
    {% if user.is_superuser and object.isFuture %}
        <a class="right" href="{% url sch_sendemail object.id %}">Send invite email!</a>
    {% endif %}
</div>
