{% extends 'base.html' %}
{% block title %}View MatchDays{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/MochiKit.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/linkCreator.js"></script>
{% endblock %}
{% block loadFunction %}onload="initpage();"{% endblock %}
{% block content %}
<table cellspacing="0" class="list">
    <tr>
        <th>Date</th>
        <th>Location</th>
        <th>Hour</th>
        <th>Actions</th>
    </tr>
    {% for matchday in object_list %}
    <tr>
        <td>{{ matchday.start_date|date:"D d M Y" }}</td>
        <td>{{ matchday.location }}</td>
        <td>{{ matchday.start_date|time:"H:i" }}</td>
        <td>
            <span class="async" id="{{ matchday.id }}">
            </span>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
