{% extends "base.html" %}
{% load forum_tags %}
{% block title %}View MatchDays{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/shadedborder.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/matchdayFunctions.js"></script>
{% endblock %}
{% block content %}
<a  href="/"><img style="float:right;" src="{{ MEDIA_URL }}images/trophy.png"/></a>
<h2>Matchdays</h2>
<div id="matchdays">
  <div id="md-filters">
    <a href="{% url sch_matchday_list %}">All</a>
    {% for sport_name in sport_list %}
        <a class="md-filter" id="{{ sport_name }}" href="{% url sch_matchday_by_sport sport_name %}">{{ sport_name }}</a>
    {% endfor %}
  </div>
  <div id="md-placeholder">
    {% include "scheduler/filtered_matchday_list.html" %}
  </div>
</div>
<div id="news-placeholder"></div>
<div id="latest-posts">
  <h2>Latest activity on the forum</h2>
<!--
{% forum_latest_posts 5 as latest_posts %}
<ul>
{% for post in latest_posts %}
<li><strong><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></strong> {{ post.latest_post_time|timesince }} ago</li>
{% endfor %}
</ul>
-->
{% forum_latest_thread_activity 5 as latest_activity %}
<ul>
{% for post in latest_activity %}
<p><strong><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></strong> {{ post.latest_post_time|timesince }} ago</p>
{% endfor %}
</ul>
</div>
{% endblock %}
{% block navbar%}
<a href="/profiles/">View all users</a>
{% endblock %}
