{% extends 'base.html' %}
{% block title %}Team Proposals{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/proposalFunctions.js"></script>
{% endblock %}
{% block content %}
<h2>Team Proposals</h2>
<ul>
{% for proposal in proposal_list %}
    <li>
        <a class="proposals_link" href="{% url sch_proposal_ajax proposal.id %}">{{ proposal }}</a>
        {% ifequal user proposal.user %}
            - <a class="delete_proposal_link" href="{% url sch_proposal_del proposal.id %}">Delete</a>
        {% endifequal %}
    </li>
{% empty %}
    <li>There are no proposals at this time.</li>

{% endfor %}
</ul>
{% endblock %}
