{% extends "base.html" %}
{% load humanize %}
{% block title %}Create Teams{% endblock %}
{% block scripts %}
    <link type="text/css" href="{{ MEDIA_URL }}js/themes/base/ui.all.css" rel="stylesheet" />
    <script type="text/javascript" src="{{ MEDIA_URL }}js/ui/ui.core.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/ui/ui.draggable.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/ui/ui.sortable.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/ui/ui.droppable.js"></script>
    <script type="text/javascript">
    $(function() {
        $(".sortable").sortable({
            revert: false
        });
        $(".draggable").draggable({
            connectToSortable: '.sortable',
            helper: 'clone',
            revert: 'invalid'
        });
        $(".droppable").droppable({
            drop: function(event, ui) {
                $('span.count', $(this)).text($(this).find('li').length - 1);
            }
        });

    });
    </script>
{% endblock %}
{% block content %}
<h2>Matchday Information</h2>
<ul>
{% if not object.isFuture %}
    <li>Date: Opened {{ object.start_date|timesince }} ago</li>
{% endif %}
<li>Location: {{ object.location }}</li>
<li>Date: {{ object.start_date|date:"D d M Y"|naturalday }} {{ object.start_date|time:"H:i" }}</li>

</ul>
Participants:
    <ul>
    {% for player in object.participants.all %}
        <li class="draggable">{{ player.get_profile.get_full_name }}</li>
    {% empty %}
        <p>Sorry, no participants in this list!</p>
    {% endfor %}
    </ul>
Guest Stars:
    <ul>
        {% for guest in object.guest_stars.all %}
            <li class="draggable">{{ guest.get_full_name }} invited by {{ guest.friend_user.get_profile.get_full_name }}</li>
        {% empty %}
            <p>Sorry, no guest stars in this list!</p>
        {% endfor %}
    </ul>
<div id="teams">
    {% for team in object.team_set.all %}
        <div id="team{{team.id}}" class="droppable">
            <h4>Team {{ team }} <span class="count">0</span></h4>
            <ul class="sortable">
                {% for player in team.participants.all %}
                    <li>{{ player.get_full_name }}</li>
                {% endfor %}
                {% for player in team.guest_stars.all %}
                    <li>{{ player }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
{% endblock %}
