{% extends "base.html" %}
{% load humanize %}
{% block title %}Create Teams{% endblock %}
{% block scripts %}
    <link type="text/css" href="{{ MEDIA_URL }}js/themes/base/ui.all.css" rel="stylesheet" />
    <script type="text/javascript" src="{{ MEDIA_URL }}js/ui/ui.core.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/ui/ui.draggable.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/ui/ui.sortable.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/ui/ui.droppable.js"></script>
    <script type="text/javascript">
    $(function() {
        $('.sortable').sortable({
            revert: false
        });
        $('.draggable').draggable({
            stop: function() {
                 $(this).css("background-color", "red");
                 $(this).css("list-style-type", "none");
                 $(this).css("font-style", "overline");
                 $(this).removeClass('draggable');
            },
            connectToSortable: '.sortable',
            helper: 'clone',
            revert: 'invalid'
        });
        $('.team').droppable({
            drop: function(event, ui) {
                $('span.count', $(this)).text($(this).find('li').length - 1);
                $('#drop-message', $(this)).remove();
            }
        });
    });
    function saveTeams(){
        $('.team').each(function(){
            var pIdList = new Array();
            var gIdList = new Array();
            var teamId = $(this).attr('tm_id');
            var found = false;
            $('li', $(this)).each(function(){
                var plId = $(this).attr('pl_id');
                var guId = $(this).attr('gu_id');
                if(plId != null){
                    pIdList.push(plId);
                    found = true;
                }
                if(guId != null){
                    gIdList.push(guId);
                    found = true;
                }
            })
            if(found){
                $.post('/loadTeam/',
                        {'teamId': teamId, 'pList': pIdList.join(","), 'gList': gIdList.join(",")},
                        function(data){
                        }
                );
            }
        });
    }
    function showAddTeam(link) {
        $("#placeholder").css("display", "none");
        $("#placeholder").load(link).slideDown("slow");
    }

    function showDelTeam(link) {
        $("#placeholder").css("display", "none");
        $("#placeholder").load(link, function(){
            $("a.dellink").click(function(e){
                $.post("/links/delteam/",
                {
                    md_id: $(this).attr('matchdayId'),
                    team_id: $(this).attr('teamId')
                });
                $(this).replaceWith('Deleted');
                e.preventDefault();
            });
        }).slideDown("slow");
    }
    </script>
{% endblock %}
{% block content %}
<div id="placeholder"></div>
<h2>Matchday Information</h2>
<ul>
{% if not object.isFuture %}
    <li>Date: Opened {{ object.start_date|timesince }} ago</li>
{% endif %}
<li>Location: {{ object.location }}</li>
<li>Date: {{ object.start_date|date:"D d M Y"|naturalday }} {{ object.start_date|time:"H:i" }}</li>
<div>
    <a id="create-team" href="#" onClick="showAddTeam('{% url sch_addteam object.id %}');">Create Team</a>
    <a href="#" onClick="showDelTeam('{% url sch_delteam object.id %}');">Delete Team</a>
</div>
</ul>
Participants:
    <ul>
    {% for player in object.participants.all %}
        <li class="draggable" pl_id="{{ player.id }}">{{ player.get_profile.get_full_name }}</li>
    {% endfor %}
    </ul>
Guest Stars:
    <ul>
        {% for guest in object.guest_stars.all %}
            <li class="draggable" gu_id="{{ guest.id }}">{{ guest.get_full_name }}</li>
        {% endfor %}
    </ul>
<div id="teams" md_id="{{ object.id }}">
    {% for team in object.team_set.all %}
        <div class="team" tm_id="{{ team.id }}">
            <h4>Team {{ team }} Players: <span class="count">0</span></h4>
            <ol class="sortable">
                <li id="drop-message">Drop players here!</li>
            </ol>
        </div>
    {% endfor %}
</div>
<div>
    <a href="/">Home</a> <a href="#" onClick="saveTeams();">Save</a>
</div>
{% endblock %}
