{% extends "base.html" %}
{% load humanize %}
{% block title %}Create Teams{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/shadedborder.js"></script>
   <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui.custom.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/teamFunctions.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/proposalFunctions.js"></script>
{% endblock %}
{% block content %}
<h2>Team Proposals</h2>
<ul>
{% for proposal in proposal_list %}
    <li>
        <a class="proposals_link" href="{% url sch_proposal_ajax proposal.id %}">{{ proposal }}</a>
        {% ifequal user proposal.user %}
            - <a class="delete_proposal_link" href="{% url sch_proposal_del proposal.id %}">Delete</a>
        {% endifequal %}
    </li>
{% empty %}
    <li>There are no proposals at this time.</li>

{% endfor %}
</ul>
{% if object.isFuture %}
<h2>Matchday Information</h2>
<ul>
{% if not object.isFuture %}
    <li>Date: Opened {{ object.start_date|timesince }} ago</li>
{% endif %}
<li>Location: {{ object.location }}</li>
<li>Date: {{ object.start_date|date:"D d M Y"|naturalday }} {{ object.start_date|time:"H:i" }}</li>
</ul>
{% if user.is_staff %}
<div>
    <a id="create_team_link" href="{% url sch_team_add object.id %}">Create Team</a>
    <a id="delete_team_link" href="{% url sch_team_del object.id %}">Delete Team</a>
</div>
{% endif %}
Participants:
    <ul>
    {% for player in object.participants.all %}
        <li class="draggable" pl_id="{{ player.id }}">{{ player.get_profile.get_full_name }}</li>
    {% endfor %}
    </ul>
Guest Stars:
    <ul>
        {% for guest in object.guest_stars.all %}
            <li class="draggable" gu_id="{{ guest.id }}">{{ guest.get_full_name }}</li>
        {% endfor %}
    </ul>
<div id="teams" md_id="{{ object.id }}">
    {% for team in object.team_set.all %}
        <div class="team" tm_id="{{ team.id }}">
            <h4 id="team_title">Team {{ team }} Players: <span class="count">0</span></h4>
            <ol class="sortable">
                <li class="drop-message">Drop players here!</li>
            </ol>
        </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
{% block navbar%}
    <a href="{% url sch_team_management object.id %}">Reset</a>
    {% if object.isFuture %}
        {% if user.is_staff %}
            <a id="save_teams_link" href="#">Save team</a>
        {% else %}
            <a id="save_proposal_link" href="#">Save proposal</a>
        {% endif %}
    {% endif %}
{% endblock %}
