{% extends "base.html" %}

{% block content %}
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Receive email:  {{ user.get_profile.receive_email }}</p>
    <p>Alias name:  {{ user.get_profile.alias_name }}</p>
    <p>Speed: {{ user.get_profile.get_speed_display }}</p>
    <p>Stamina: {{ user.get_profile.get_stamina_display }}</p>
    <p>Ball controll: {{ user.get_profile.get_ball_controll_display }}</p>
    <p>Shot power: {{ user.get_profile.get_shot_power_display }}</p>
<br>
<div>
  <a href="{% url profile-edit-link %}">Edit</a> <a href="/">Home</a>
</div>
{% endblock %}
