/* SETUP */

body { margin:0; padding:0; background:#092e20; color:white; }
body, th, td { font:12px/1.4em Verdana,sans-serif; }
#header {margin-left:22px; margin-right:24px;}
#container { position:relative; min-width:55em; max-width:100em; margin-left:22px; margin-right:24px; }
#container1 {
  width: 80%;
  margin: 0 auto 0 auto;
  border: 1px solid #aaa;
  padding: 1px;
}
#footer {
  color: #487858;
  font-size:90%;
  text-align: center;
  width: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0 !important;
  bottom: -1px;
}

#placeholder {
  border: 1px dotted #234f32;
  margin: 0.5em;
  padding: 1em;
  position: relative;
  float: right;
  width: 23%;
  font-size: 88%;
  display:none;
}
#messages_block {position:relative;}
/* LINKS */

a {text-decoration: none;}
a img {border: none;}
a:link, a:visited { color:#ffc757; }
a:hover { color:#ffe761; }

/* CONTENT */

h1,h2,h3 { margin-top:.8em; font-family:"Trebuchet MS",sans-serif; font-weight:normal; }
h1 { font-size:218%; margin-top:.6em; margin-bottom:.6em; color:#9aef3f; line-height:1.1em; }
h2 { font-size:150%; margin-top:1em; margin-bottom:.2em; line-height:1.2em; color:#9aef3f; }
h3 { font-size:125%; font-weight:bold; margin-bottom:.2em; color:#487858; }
h4 { font-size:100%; font-weight:bold; margin-bottom:-3px; margin-top:1.2em; text-transform:uppercase; letter-spacing:1px; color:#9aef3f;}
h4 pre, h4 tt, h4 .literal { text-transform:none; }
h5 { font-size:1em; font-weight:bold; margin-top:1.5em; margin-bottom:3px; }

/* LISTS */

ul { padding-left:2em; }
ol { padding-left:30px; }
ul li { list-style-type:square; margin-bottom:.4em; }
ul ul { padding-left:1.2em; }
ul ul ul { padding-left:1em; }

table {border-collapse: collapse; border-spacing: 0; margin: 1em 0; background: #487858; border: 1px #234f32 dotted;padding:1px;}

.message { color:#9aef3f; }
.small { font-size:90%; }
.list tr:hover {background: #234f32; }
#userlist td {border-collapse: separate; border-spacing: 3px;border: 1px dotted grey; }
.right {text-align: right;}
.pagination {color: #9aef3f;}
/*.comment {background: #487858}*/
.commentingUser {color:#9aef3f;}
.commentTime {color:#487858;}
.team {
    background: #487858;
    border: 1px dotted #234f32;
    float: right;
    margin-right: 1%;
    width: 48%;
    height:100%;
}
#drop-message {color:lightgrey;list-style-type:none;}
