/* SETUP */

body { margin:0; padding:0; background:#092e20; color:white; }
body, th, td { font:12px/1.4em Verdana,sans-serif; }
#container { position:relative; min-width:55em; max-width:100em; margin-left:22px; margin-right:24px; }

/* LINKS */

a {text-decoration: none;}
a img {border: none;}
a:link, a:visited { color:#ffc757; }
a:hover { color:#ffe761; }


/* CONTENT */

h1,h2,h3 { margin-top:.8em; font-family:"Trebuchet MS",sans-serif; font-weight:normal; }
h1 { font-size:218%; margin-top:.6em; margin-bottom:.6em; color:#9aef3f; line-height:1.1em; }
h2 { font-size:150%; margin-top:1em; margin-bottom:.2em; line-height:1.2em; color:#9aef3f; }
h3 { font-size:125%; font-weight:bold; margin-bottom:.2em; color:#487858; }
h4 { font-size:100%; font-weight:bold; margin-bottom:-3px; margin-top:1.2em; text-transform:uppercase; letter-spacing:1px; }
h4 pre, h4 tt, h4 .literal { text-transform:none; }
h5 { font-size:1em; font-weight:bold; margin-top:1.5em; margin-bottom:3px; }

/* LISTS */

ul { padding-left:2em; }
ol { padding-left:30px; }
ul li { list-style-type:square; margin-bottom:.4em; }
ul ul { padding-left:1.2em; }
ul ul ul { padding-left:1em; }

/* MESSAGES */

.message { color:#9aef3f; }

/* FOOTER */

#footer { clear:both; color:#487858; padding:10px 20px; font-size:90%; }


/* MISC */

.small { font-size:90%; }
h3 .small { font-size:80%; }

table {
    margin: 1em 0;
    background: #487858;
    border: 1px #234f32 dotted;
}


.list tr:hover {
    background: #9aef3f;
}

.right {
    text-align: right;
}

.pagination {
    color: #9aef3f;
}

#placeholder {
  margin: 0px 10px 10px 10px;
  padding: 1em;
  position: relative;
  float: right;
  width: 23%;
  font-size: 88%;
  border: 1px #234f32 dotted;
}
