<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <link rel="stylesheet" href="{{ MEDIA_URL }}base.css" type="text/css" media="screen">
    <link rel="alternate" type="application/rss+xml" href="/feeds/latest/" title="RSS feed for elMonumental|">
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/messagesAppearEffect.js"></script>
        {% block scripts %}{% endblock %}
        <title>{% block title %}El Monumental{% endblock %}</title>
    </head>

    <body>
        <div id="header">
            <div class="right">
            {% if user.is_authenticated %}
                <p>
                    {% if user.is_superuser %}
                        Welcome, {{ user.username }}.
                    {% else %}
                        Welcome, <a href="{% url profiles_profile_detail user %}">{{ user.username }}</a>.
                    {% endif %}
                <a href="{% url auth_logout %}">log out</a></p>
            {% else %}
                <p>Please <a href="{% url auth_login %}">log in</a> or <a href="{% url registration_register %}">sign up.</a></p>
            {% endif %}
            <p>
                <a type="application/rss+xml" href="/feeds/latest/">Subscribe <img src="{{ MEDIA_URL }}images/rss.png" alt="Subscribe to elMonumental feed"/></a>
            </p>
            {% if user.is_authenticated and not user.is_superuser and not user.get_profile.alias_name %}
            Please uptade your profile <a href="{% url profiles_edit_profile %}">here</a>.
            {% endif %}
            </div>
        </div>
        <div id="container">
            <div id="messages_block">
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li class="message" id="test_mes"> {{ message }} </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
      {% block footer %}{% endblock %}
      <div class="right">
        <a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangosite80x15.gif" border="0" alt="A Django site." title="A Django site." /></a>
        <a href="http://www.spreadfirefox.com/?q=affiliates&amp;id=0&amp;t=219"><img border="0" alt="Firefox 3" title="Firefox 3" src="http://sfx-images.mozilla.org/affiliates/Buttons/firefox2/ff2b80x15.gif"/></a>
      </div>
    </div>
    </body>
</html>

