<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="{{ MEDIA_URL }}base.css" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/messagesAppearEffect.js"></script>
    {% block scripts %}{% endblock %}
    <title>{% block title %}El Monumental{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        {% endblock %}
    </div>

    <div id="content">
        {% if user.is_authenticated %}
        <p class="login">Welcome, <a href="{% url sch_profile %}">{{ user.username }}</a>.  <a href="{% url sch_logout %}">log out</a></p>
        {% else %}
        <p class="login">Please <a href="{% url sch_login %}">log in</a> or <a href="{% url sch_signup %}">sign up.</a></p>
        {% endif %}
        {% if messages %}
        <ul class="message">
          {% for message in messages %}
            <li class="message" id="test_mes"> {{ message }} </li>
          {% endfor %}
        </ul>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>

