<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="{{ MEDIA_URL }}base.css" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/messagesAppearEffect.js"></script>
    {% block scripts %}{% endblock %}
    <title>{% block title %}El Monumental{% endblock %}</title>
</head>

<body>
    <div id="header">
      {% if user.is_authenticated and not user.is_superuser and not user.get_profile.alias_name %}
      Please uptade your profile <a href="{% url profiles_profile_detail user %}">here</a>.
      {% endif %}
    </div>
    <div id="container">
        {% if user.is_authenticated %}	
        <p class="right">
	  {% if user.is_superuser %}
	  Welcome, {{ user.username }}.
	  {% else %}
	  Welcome, <a href="{% url profiles_profile_detail user %}">{{ user.username }}</a>.
          {% endif %}
	  <a href="{% url auth_logout %}">log out</a></p>
        {% else %}
        <p class="right">Please <a href="{% url auth_login %}">log in</a> or <a href="{% url registration_register %}">sign up.</a></p>
        {% endif %}
        {% if messages %}
        <ul>
          {% for message in messages %}
            <li class="message" id="test_mes"> {{ message }} </li>
          {% endfor %}
        </ul>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
    <div id="footer"></div>
</body>
</html>

