{% extends "base.html" %}

{% block content %}
<table cellspacing="0" class="list">
    <tr><td>First name:</td><td>{{ profile.user.first_name }}</td></tr>
    <tr><td>Last name:</td><td>{{ profile.user.last_name }}</td></tr>
    <tr><td>Email:</td><td>{{ profile.user.email }}</td></tr>
    <tr><td>Email subscriptions:</td><td>{% for subsc in profile.email_subscription.all %}{{ subsc.name }} {% endfor %}</td></tr>
    <tr><td>Alias name:</td><td>{{ profile.alias_name }}</td></tr>
    <tr><td>Speed:</td><td>{{ profile.get_speed_display }}</td></tr>
    <tr><td>Stamina:</td><td>{{ profile.get_stamina_display }}</td></tr>
    <tr><td>Ball controll:</td><td>{{ profile.get_ball_controll_display }}</td></tr>
    <tr><td>Shot power:</td><td>{{ profile.get_shot_power_display }}</td></tr>
</table>
<h2>Attendance Rates</h2>
{% load scheduler_tags %}

{% get_attendance %}
<ul>
    {% for sport, values in attendance_dict.items %}
        {% if sport.active %}
            <li><img src="{{ sport.icon.url }}" height="16" width="16"/>
                {{ sport }}: <span class="procentage">{{ values.1 }}</span>
            </li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}
{% block navbar %}
  <a href="{% url profiles_edit_profile %}">Edit</a>
{% endblock %}

