{% load scheduler_tags %}
    {% for profile in object_list %}
    {% get_attendance %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ profile.user.first_name }}</td>
        <td>{{ profile.alias_name }}</td>
        <td>{{ profile.user.last_name }}</td>
        <td>{{ profile.get_speed_display }}</td>
        <td>{{ profile.get_stamina_display }}</td>
        <td>{{ profile.get_ball_controll_display }}</td>
        <td>{{ profile.get_shot_power_display }}</td>
        {% for sport_name in sport_list %}
        {% if sport_name.active %}
        <td>{{ attendance_dict|attendance:sport_name }}</td><td><span class="procentage">{{ attendance_dict|procentage:sport_name }}</span></td>
        {% endif %}
        {% endfor %}
        <td>
            <a href="{% url profiles_profile_detail profile.user%}">View</a>
        </td>
    </tr>
    {% endfor %}

