{% extends "base.html" %}

{% block content %}
<table cellspacing="0" class="list">
    <tr><td>First name:</td><td>{{ profile.user.first_name }}</td></tr>
    <tr><td>Last name:</td><td>{{ profile.user.last_name }}</td></tr>
    <tr><td>Email:</td><td>{{ profile.user.email }}</td></tr>
    <tr><td>Email subscriptions:</td><td>{{ profile.email_subscriptions }}</td></tr>
    <tr><td>Alias name:</td><td>{{ profile.alias_name }}</td></tr>
    <tr><td>Speed:</td><td>{{ profile.get_speed_display }}</td></tr>
    <tr><td>Stamina:</td><td>{{ profile.get_stamina_display }}</td></tr>
    <tr><td>Ball controll:</td><td>{{ profile.get_ball_controll_display }}</td></tr>
    <tr><td>Shot power:</td><td>{{ profile.get_shot_power_display }}</td></tr>
</table>
<h2>Attendance Rates</h2>
{% load scheduler_tags %}

{% query_matchdays %}
{% get_atendance %}
<ul>
    {% for sport_name in sport_list %}
        <li>{{ sport_name }}: <span class="procentage">{{ sport_name_procentage }}</span></li>
    {% endfor %}
</ul>
{% endblock %}
{% block navbar %}
  <a href="{% url profiles_edit_profile %}">Edit</a>
{% endblock %}

