{% extends 'base.html' %}
{% load scheduler_tags %}
{% block title %}View All Users{% endblock %}
{% block html_head %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/tablesorter.css" type="text/css" media="screen">
<link type="text/css" href="{{ MEDIA_URL }}css/cupertino/jquery-ui.custom.css" rel="stylesheet"/>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/dateFiltering.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/ui/i18n/jquery.ui.datepicker-ro.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui.custom.min.js"></script>
<script type="text/javascript">
$(document).ready(function()
     {
          $("#usersTable").tablesorter(
                    {headers: { 8: { sorter: false},
                                10: {sorter: false},
                                12: {sorter: false} }
                    }
          );
     }
);
</script>
{% endblock %}

{% block content %}
<p class="right">
    De la: <input id="de_la" type="text"/>
    <a id="filtru" href="#">Filtrează</a>
</p>
<h2>Users</h2>
<div  style="height: 600px; overflow: auto">
<table id="usersTable" class="list tablesorter" cellspacing="1" id="userlist">
<thead>
    <tr>
        <th>#</th>
        <th>FirstName</th>
        <th>AliasName</th>
        <th>LastName</th>
        <th>Speed</th>
        <th>Stamina</th>
        <th>BallControl</th>
        <th>ShotPower</th>
	<th>Football</th>
        <th>%</th>
	<th>Basketball</th>
        <th>%</th>
	<th>Volleyball</th>
        <th>%</th>
    </tr>
</thead>
<tbody>
    {% for profile in object_list %}
    {% get_atendance %}
    <tr>
       <td>{{ forloop.counter }}</td>
        <td>{{ profile.user.first_name }}</td>
        <td>{{ profile.alias_name }}</td>
        <td>{{ profile.user.last_name }}</td>
        <td>{{ profile.get_speed_display }}</td>
        <td>{{ profile.get_stamina_display }}</td>
        <td>{{ profile.get_ball_controll_display }}</td>
    	<td>{{ profile.get_shot_power_display }}</td>
        <td>{{ FB_count }}</td>
        <td><span class="procentage">{{ FB_procentage }}</span></td>
        <td>{{ BB_count }}</td>
        <td><span class="procentage">{{ BB_procentage }}</span></td>
        <td>{{ VB_count }}</td>
        <td><span class="procentage">{{ VB_procentage }}</span></td>
        <td>
            <a href="{% url profiles_profile_detail profile.user%}">View</a>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
{% endblock %}

