{% extends 'base.html' %}
{% block title %}View All Users{% endblock %}
{% block content %}
<h2>Users</h2>
<table class="list tablesorter" cellspacing="1" id="userlist">
<thead>
    <tr>
        <th>FirstName</th>
        <th>AliasName</th>
        <th>LastName</th>
        <th>Speed</th>
        <th>Stamina</th>
        <th>BallControl</th>
        <th>ShotPower</th>
    </tr>
</thead>
<tbody>
    {% for profile in object_list %}
    <tr>
        <td>{{ profile.user.first_name }}</td>
        <td>{{ profile.alias_name }}</td>
        <td>{{ profile.user.last_name }}</td>
        <td>{{ profile.get_speed_display }}</td>
        <td>{{ profile.get_stamina_display }}</td>
        <td>{{ profile.get_ball_controll_display }}</td>
        <td>{{ profile.get_shot_power_display }}</td>
        <td>
            <a href="{% url profiles_profile_detail profile.user%}">View</a>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>
<div id="pager"></div>
<a href="/">Home</a>
{% endblock %}

