{% extends 'base.html' %}
{% block title %}View All Users{% endblock %}
{% block html_head %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/tablesorter.css" type="text/css" media="screen">
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
$(document).ready(function()
     {
          $("#usersTable").tablesorter(
                    {headers: { 8: { sorter: false},
                                10: {sorter: false},
                                12: {sorter: false} }
                    }
          );
     }
);
</script>
{% endblock %}
{% block content %}
<h2>Users</h2>
<table id="usersTable" class="list tablesorter" cellspacing="1" id="userlist">
<thead>
    <tr>
        <th>#</th>
        <th>FirstName</th>
        <th>AliasName</th>
        <th>LastName</th>
        <th>Speed</th>
        <th>Stamina</th>
        <th>BallControl</th>
        <th>ShotPower</th>
	<th>Football</th>
        <th>%</th>
	<th>Basketball</th>
        <th>%</th>
	<th>Volleyball</th>
        <th>%</th>
    </tr>
</thead>
<tbody>
    {% for profile in object_list %}
    <tr>
       <td>{{ forloop.counter }}</td>
        <td>{{ profile.user.first_name }}</td>
        <td>{{ profile.alias_name }}</td>
        <td>{{ profile.user.last_name }}</td>
        <td>{{ profile.get_speed_display }}</td>
        <td>{{ profile.get_stamina_display }}</td>
        <td>{{ profile.get_ball_controll_display }}</td>
	<td>{{ profile.get_shot_power_display }}</td>
        <td>{{ profile.get_football_attendance_rate|safe }}</td>
        <td>{{ profile.get_football_attendance_procentage|safe }}</td>
	<td>{{ profile.get_basketball_attendance_rate|safe }}</td>
        <td>{{ profile.get_basketball_attendance_procentage|safe }}</td>
	<td>{{ profile.get_volleyball_attendance_rate|safe }}</td>
        <td>{{ profile.get_volleyball_attendance_procentage|safe }}</td>
        <td>
            <a href="{% url profiles_profile_detail profile.user%}">View</a>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}

